<a href="https://colab.research.google.com/github/Jesus4antonio/Probabilidad/blob/main/Practica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROBABILIDAD Y ESTADISTICA

## UNIDAD 1

### FACILITADOR: Jose Gabriel Rodruguez

### Alumno: Jesus Antonio Sanchez Aguilar

## **Programa 3:Tablas de Frecuencia **

In [57]:
# Basado el Libro estadistica para administración pagina 12
# creamos una lista vacia qeu representa la edad de 100 personas
import random
edades = []
# Hacemos un ciclo para generar 100 numeros aleatorios que representan las edades de las personas
for i in range(100):
  numero_aleatorio = random.randint(18, 65)
  edades.append(numero_aleatorio)

print(edades)

[39, 25, 23, 30, 37, 48, 35, 33, 19, 33, 34, 41, 44, 53, 41, 55, 36, 27, 18, 38, 35, 25, 42, 19, 27, 20, 51, 31, 52, 35, 62, 46, 20, 27, 44, 55, 61, 47, 44, 40, 50, 24, 37, 51, 61, 47, 19, 50, 35, 19, 19, 37, 26, 58, 30, 18, 43, 28, 59, 27, 19, 51, 45, 59, 60, 29, 65, 24, 42, 23, 39, 19, 20, 32, 24, 44, 46, 59, 38, 47, 48, 18, 57, 20, 60, 28, 34, 30, 34, 55, 59, 31, 60, 19, 43, 26, 51, 31, 39, 64]

In [58]:
import pandas as pd

In [59]:
# Crear un dataframe de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns=['Edades'])
df.head()

   Edades
0      39
1      25
2      23
3      30
4      37

In [60]:
# Calcular la tabla de distribución de frecuencias
tabla_frecuencia = df['Edades'].value_counts().reset_index()
tabla_frecuencia.columns = ['Edades', 'Frecuencia']
tabla_frecuencia = tabla_frecuencia.sort_values(by='Edades')

#Imprimir la tabla de distribución de frecuencias
print("Tabla de Distribución de Frecuencias:")
tabla_frecuencia

Tabla de Distribución de Frecuencias:

    Edades  Frecuencia
15      18           3
0       19           8
2       20           4
20      23           2
10      24           3
17      25           2
29      26           2
4       27           4
26      28           2
37      29           1
8       30           3
13      31           3
39      32           1
18      33           2
7       34           3
1       35           4
33      36           1
14      37           3
25      38           2
9       39           3
35      40           1
24      41           2
21      42           2
27      43           2
6       44           4
36      45           1
23      46           2
12      47           3
19      48           2
28      50           2
3       51           4
30      52           1
32      53           1
16      55           3
40      57           1
34      58           1
5       59           4
11      60           3
22      61           2
31      62           1
41      64           1
38      65           1

In [61]:
tabla_frecuencia["Frec Relativa"] = tabla_frecuencia["Frecuencia"] / 100
tabla_frecuencia

    Edades  Frecuencia  Frec Relativa
15      18           3           0.03
0       19           8           0.08
2       20           4           0.04
20      23           2           0.02
10      24           3           0.03
17      25           2           0.02
29      26           2           0.02
4       27           4           0.04
26      28           2           0.02
37      29           1           0.01
8       30           3           0.03
13      31           3           0.03
39      32           1           0.01
18      33           2           0.02
7       34           3           0.03
1       35           4           0.04
33      36           1           0.01
14      37           3           0.03
25      38           2           0.02
9       39           3           0.03
35      40           1           0.01
24      41           2           0.02
21      42           2           0.02
27      43           2           0.02
6       44           4           0.04
36      45           1           0.01
23      46           2           0.02
12      47           3           0.03
19      48           2           0.02
28      50           2           0.02
3       51           4           0.04
30      52           1           0.01
32      53           1           0.01
16      55           3           0.03
40      57           1           0.01
34      58           1           0.01
5       59           4           0.04
11      60           3           0.03
22      61           2           0.02
31      62           1           0.01
41      64           1           0.01
38      65           1           0.01

In [62]:
tabla_frecuencia["Frec Porcentaje"] = tabla_frecuencia["Frecuencia"] / 100 * 100
tabla_frecuencia

    Edades  Frecuencia  Frec Relativa  Frec Porcentaje
15      18           3           0.03              3.0
0       19           8           0.08              8.0
2       20           4           0.04              4.0
20      23           2           0.02              2.0
10      24           3           0.03              3.0
17      25           2           0.02              2.0
29      26           2           0.02              2.0
4       27           4           0.04              4.0
26      28           2           0.02              2.0
37      29           1           0.01              1.0
8       30           3           0.03              3.0
13      31           3           0.03              3.0
39      32           1           0.01              1.0
18      33           2           0.02              2.0
7       34           3           0.03              3.0
1       35           4           0.04              4.0
33      36           1           0.01              1.0
14      37           3           0.03              3.0
25      38           2           0.02              2.0
9       39           3           0.03              3.0
35      40           1           0.01              1.0
24      41           2           0.02              2.0
21      42           2           0.02              2.0
27      43           2           0.02              2.0
6       44           4           0.04              4.0
36      45           1           0.01              1.0
23      46           2           0.02              2.0
12      47           3           0.03              3.0
19      48           2           0.02              2.0
28      50           2           0.02              2.0
3       51           4           0.04              4.0
30      52           1           0.01              1.0
32      53           1           0.01              1.0
16      55           3           0.03              3.0
40      57           1           0.01              1.0
34      58           1           0.01              1.0
5       59           4           0.04              4.0
11      60           3           0.03              3.0
22      61           2           0.02              2.0
31      62           1           0.01              1.0
41      64           1           0.01              1.0
38      65           1           0.01              1.0

In [63]:
tabla_frecuencia["Frec acomulada"] = tabla_frecuencia["Frecuencia"].cumsum()
tabla_frecuencia

    Edades  Frecuencia  Frec Relativa  Frec Porcentaje  Frec acomulada
15      18           3           0.03              3.0               3
0       19           8           0.08              8.0              11
2       20           4           0.04              4.0              15
20      23           2           0.02              2.0              17
10      24           3           0.03              3.0              20
17      25           2           0.02              2.0              22
29      26           2           0.02              2.0              24
4       27           4           0.04              4.0              28
26      28           2           0.02              2.0              30
37      29           1           0.01              1.0              31
8       30           3           0.03              3.0              34
13      31           3           0.03              3.0              37
39      32           1           0.01              1.0              38
18      33           2           0.02              2.0              40
7       34           3           0.03              3.0              43
1       35           4           0.04              4.0              47
33      36           1           0.01              1.0              48
14      37           3           0.03              3.0              51
25      38           2           0.02              2.0              53
9       39           3           0.03              3.0              56
35      40           1           0.01              1.0              57
24      41           2           0.02              2.0              59
21      42           2           0.02              2.0              61
27      43           2           0.02              2.0              63
6       44           4           0.04              4.0              67
36      45           1           0.01              1.0              68
23      46           2           0.02              2.0              70
12      47           3           0.03              3.0              73
19      48           2           0.02              2.0              75
28      50           2           0.02              2.0              77
3       51           4           0.04              4.0              81
30      52           1           0.01              1.0              82
32      53           1           0.01              1.0              83
16      55           3           0.03              3.0              86
40      57           1           0.01              1.0              87
34      58           1           0.01              1.0              88
5       59           4           0.04              4.0              92
11      60           3           0.03              3.0              95
22      61           2           0.02              2.0              97
31      62           1           0.01              1.0              98
41      64           1           0.01              1.0              99
38      65           1           0.01              1.0             100

In [64]:
import math
# Calcular el numero del intervalo utilizando la regla de sturgs
n = len(edades)
k = int(1 + math.log2(n))
print("Valor de n =", n, "\nNumero de intervalos =", k)

Valor de n = 100
Numero de intervalos = 7